# Tensorflow.
tensorflow-cpu;sys_platform != 'darwin'
tensorflow;sys_platform == 'darwin'

# Torch.
--extra-index-url https://download.pytorch.org/whl/cpu
torch

# Jax.
jax[cpu]
jax-tpu-embedding;sys_platform == 'linux' and platform_machine == 'x86_64'

# pre-commit checks (formatting, linting, etc.)
pre-commit

# Common dependencies.
-r requirements-common.txt
