# Tensorflow cpu-only version.
tensorflow-cpu

# Torch cpu-only version.
--extra-index-url https://download.pytorch.org/whl/cpu
torch

# Jax with cuda support.
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda13]

# Support for large embeddings.
jax-tpu-embedding;sys_platform == 'linux' and platform_machine == 'x86_64'

-r requirements-common.txt
